# Node.js dependencies
/node_modules/

# Environment variables
.env

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store         # macOS
Thumbs.db         # Windows

# IDE/editor folders
.vscode/
.idea/

# Package-lock and Yarn lock files (if you don't want to commit them)
# package-lock.json
yarn.lock

# Build and output directories (if any)
dist/
build/

# Temporary files
*.tmp
*.swp
/reports/

# Test output
/coverage/

# Optional: Ignore npm global packages (if you don't want to commit your globally installed packages)
/.npm/

# Optional: Ignore debug files
/.debug/